@using Microsoft.AspNetCore.Identity
@using ASPNETCore_DB.Models
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - ASPNETCore_DB</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/index.css" asp-append-version="true" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css" />
    <!-- CSS only -->
    @* <link rel="stylesheet" href="~/css/index.css"> *@
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous">
</head>
<body>


    <header>
        <div class="container">
            <nav>
                <ul>
                    <li>
                        <a class="navbar-bran" asp-area="" asp-controller="Home" asp-action="Index">ASPNETCore_DB</a>
                        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                                aria-expanded="false" aria-label="Toggle navigation">
                            <span class="navbar-toggler-icon"></span>
                        </button>
                    </li>
                    <li>
                        <a class="" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                    </li>
                    <li>
                        <a class="" asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
                    </li>
                    <li>
                        <a class="" asp-area="" asp-controller="Home" asp-action="SeedDatabase">Database</a>
                    </li>
                    @if (SignInManager.IsSignedIn(User) && User.IsInRole("User"))
                    {
                        <li class="">
                            <a class="" asp-area="" asp-controller="Student" asp-action="Create">Enroll</a>
                        </li>
                        <li class="">
                            <a class="conditionals" asp-area="" asp-controller="Student" asp-action="Details">Your Detail</a>
                        </li>
                    }
                    <!--verifies if the user is currently signed in ,and if the signed-in user belongs to the "User" role-->
                    @if (SignInManager.IsSignedIn(User) && User.IsInRole("Admin"))
                    {
                        <li class="">
                            <a class="" asp-area="" asp-controller="Student" asp-action="Index">Student</a>
                        </li>
                    }
                    <!--verifies if the user is currently signed in ,and if the signed-in user belongs to the "Admin" role-->
                    @if (!SignInManager.IsSignedIn(User))
                    {
                        <li class="">
                            <a class="" asp-area="" asp-controller="Home" asp-action="About">About</a>
                        </li>
                        <li class="">
                            <a class="" asp-area="" asp-controller="Home" asp-action="Contact">Contact</a>
                        </li>
                    }
                    @* <li class="">
                        <a class="" asp-area="" asp-controller="Home" asp-action="About">About</a>
                    </li>
                    <li class="">
                        <a class="" asp-area="" asp-controller="Home" asp-action="Contact">Contact</a>
                    </li> *@

                    <li>
                        <partial name="_LoginPartial" />
                    </li>
                </ul>
            </nav>
        </div>
    </header>

    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted footer">
        <div class="container">
            <div class="row-">
                <div class="footer-col">
                    <h4>More About Us</h4>
                    <ul>
                        <li>
                            &copy; 2023
                        </li>
                        <li><a class="links" asp-area="" asp-controller="home" asp-action="About">About Us</a></li>
                        <li>
                            <a asp-area="" class="links" asp-controller="Home" asp-action="Privacy">Privacy</a>
                        </li>
                    </ul>
                </div>
                <div class="footer-col">
                    <h4 >Contact Us</h4>
                    <ul>
                        <li><a class="links" asp-controller="home" asp-action="Contact">Contact</a></li>
                        <li>
                            <a href="https://www.cut.ac.za/campus/1/bloemfontein">
                                Bloemfontein Campus: <br>+27 (0) 51 507 3911
                            </a>
                        </li>
                        <li>
                            <a href="https://www.cut.ac.za/campus/2/welkom">
                                Welkom Campus: <br>+27 (0) 57 910 3500
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="footer-col">
                    <h4 class="socials-heading">Follow Us</h4>
                    <div class="socials">
                        <a target="_blank" href="https://www.facebook.com/CUTFreeState/">
                                <i class="fab fa-facebook-f"></i>
                            </a>
                        <a target="_blank" href="https://www.twitter.com/cutfsonline">
                                <i class="fab fa-twitter"></i>
                            </a>
                        <a target="_blank" href="https://za.linkedin.com/school/central-university-of-technology-free-state/">
                                <i class="fab fa-linkedin-in"></i>
                            </a>
                    </div>
                </div>
            </div>
            
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <!-- JavaScript Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa" crossorigin="anonymous"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
