@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1>User Logged In Information</h1>
    <p>User Id: @ViewData["UserID"]</p>
    <p>User Name: @ViewData["UserName"]</p>
    <p>User Role: @ViewData["UserRole"]</p>
</div>


<div class="container-fluid border-bottom mb-3">
    <h1>Student Management System</h1>
    <br />
</div>
<div class="container-fluid">

    <div class="row">
        <div class="col-md-8">
            <h2>Welcome to the Student Management System</h2>
            <br />

            <p class="justify-content-">
                •	ASP.NET Core MVC web solution that utilizes an SQLite database to port information to and from the web interface by means of the View, Controller and Model framework and Entity Framework Core.
            </p>
            <p class="justify-content-evenly">
                •	The exercise will allow you to dynamically create a database and datatable by means of the ASP.NET core MVC functionality and Entity Framework code first design.
            </p>
            <p class="justify-content-evenly">
                •	It will demonstrate the creation of a model, the view and the code required for the controller to pass information from the database to the interface and then from the interface back to the database.
            </p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-8">

            <h2>Build it from scratch</h2>

            <p class="justify-content-evenly">You can build the application by following the steps in a series of exercises made available on eThuto -> SOD226C.</p>

            <p><a class="btn btn btn-primary" href="https://ethuto.cut.ac.za/">Log in &raquo;</a></p>

        </div>
    </div>
</div>
